<!DOCTYPE html>
<html>
<head>
    <title>Actividad educativa</title>
</head>

<body>
    <div class="container" style="height: 100%">
        <div class="card-body">
            <p class="card-text">
                <h2>Asignar asiento</h2>
            </p>
            <hr />
            <div class="row no-gutters">
                <div class="col">
                    <fieldset>
                        <div class="form-group">

                        </div>
                        <div class="col-md-12 pad-adjust">
                            <span class="help-block text-muted small-font"> Asientos:</span>
                            <select class="form-select" aria-label="Default select example" style="color:gray">
                                <option selected>-Seleccionar asiento-</option>
                                <option value="A1">A1</option>
                                <option value="A2">A2</option>
                                <option value="A3">A3</option>
                            </select>
                        </div>
                        <br/>
                        <div class="card" style="margin:">
                            <div class="text-center" style="text-align:center">
                                <img src="~/images/PlanetariumUCR/Asientos.png" class="rounded" alt="Asientos" style="width:50%; height:50%">
                            </div>
                        </div>
                        
                    </fieldset>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>

