

<!DOCTYPE html>
<html>
<head>
    <title>Asientos</title>
</head>

<body>
    <div class="container" style="height: 100rem">
        <div class="card-body">
            <p class="card-text">
                <h2>Asignar asiento</h2>
            </p>
            <hr />
            <div class="card">
                <div class="card-header text-center">
                    Asientos
                </div>
                <div class="card-body d-flex justify-content-center">
                    <table id="holder">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Seats.js"></script>
    <script>
        let seatsGen = new SeatGenerator("holder", "@ViewBag.maxParticipants");
        seatsGen.generateSeatArray();
    </script>
</body>
</html>

