

<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <br />
        <div class="card mb-3">
            <h1 class="text-center border border-success ">Gracias por su compra</h1>
        </div>
    </div>
    <div class="button text-center">
        <a href="/Home/Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver al inicio</a>
    </div>
    <div class="text-center">
        <img src="~/images/astronaut.png" class="rounded" width="300" height="300" alt="an astronaut">
    </div>
</body>
</html>