<!DOCTYPE html>
<html>
<head>
    <title>Método de pago</title>
</head>

<body>
    <div class="container" style="height: 100%">
        <div class="card-body">
            <p class="card-text">
                <h2>Sistema de pago</h2>
            </p>
            <hr />
            <div class="row no-gutters">
                <div class="col-6">
                    <fieldset>

                        <div class="form-group">
                            <div class="col-md-8">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i> Nombre</span>
                                <input id="fname" value="" name="name" type="text" placeholder="John" class="form-control">
                                <p id="nameError" class="text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i> Apellido</span>
                            <div class="col-md-8">
                                <input id="lname" value="" name="name" type="text" placeholder="Doe" class="form-control">
                                <p id="lastNameError" class="text-danger"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i> Correo electrónico</span>
                            <div class="col-md-8">
                                <input id="email" value="" name="email" type="text" placeholder="John.Doe@gmail.com" class="form-control">
                                <p id="emailError" class="text-danger"></p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-6">
                    <div class="card rounded-3 bg-light">
                        <div class="card-body">
                            <form action="#" class="credit-card-div">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="help-block text-muted small-font"> Número de tarjeta</span>
                                                <input id="creditCardNumber" value="" type="number" class="form-control" placeholder="0000 0000 0000 0000" data-maxlength="16" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" required autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <span class="help-block text-muted small-font"> Mes</span>
                                                <input  value="" type="number" class="form-control" placeholder="MM" maxlength="2" onchange="monthLimiter(this);" required  />
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <span class="help-block text-muted small-font">Año</span>
                                                <input type="text" class="form-control" placeholder="YY" maxlength="2" required />

                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <span class="help-block text-muted small-font"> CCV</span>
                                                <input type="text" class="form-control" placeholder="CCV" maxlength="3" required />
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <i class="fas fa-credit-card"></i>
                                                <i class="fab fa-cc-mastercard"></i>
                                                <i class="fab fa-cc-visa"></i>
                                                <i class="fab fa-cc-paypal"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pad-adjust">
                                                <span class="help-block text-muted small-font"> Nombre de la tarjeta</span>
                                                <select class="form-select" aria-label="Default select example" style="color:gray" required>
                                                    <option selected>-Seleccionar-</option>
                                                    <option value="Visa">Visa</option>
                                                    <option value="Mastercard">Mastercard</option>
                                                    <option value="American Express">American Express</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pad-adjust">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"  class="text-muted" required  />
                                                        He leído y acepto las politicas de privacidad
                                                        <a data-toggle="modal" data-target="#exampleModalLong" style="color:#18bc9c">
                                                            Ver politicas de privacidad
                                                        </a>
                                                    </label>
                                                    <p class="errorPrivacy"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align:right"> 
                                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust w-100">
                                                <input type="submit" class="btn btn-success btn-block" value="Continuar" onclick="checkData()"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Políticas de privacidad del Planetario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Puedes utilizar nuestros servicios de diferentes formas para gestionar tu privacidad. Por ejemplo, si quieres crear y gestionar contenido, como correos electrónicos y fotos, o consultar resultados de búsqueda más relevantes, puedes registrarte para obtener una cuenta del Planetario. Asimismo, puedes utilizar diversos servicios de Planetario una vez que hayas cerrado sesión en tu cuenta o sin que hayas siquiera creado una como, por ejemplo, realizando una búsqueda en Google o visualizando vídeos en YouTube. Además, puedes ajustar la configuración de privacidad en todos nuestros servicios para controlar la información que recogemos y cómo la utilizamos.
                                </p>
                                <p>
                                    Recogemos información para proporcionar los mejores servicios a todos nuestros usuarios: desde determinar información básica, como el idioma que hablas, hasta datos más complejos, como los anuncios que te resultarán más útiles, las personas que más te interesan online o los vídeos de YouTube que te pueden gustar. El tipo de información que recoge Google y cómo se utiliza esa información depende del uso que hagas de nuestros servicios y de cómo administres los controles de privacidad.
                                </p>
                                <p>
                                    Si no has iniciado sesión en una cuenta del Planetario, almacenamos la información que recogemos con identificadores únicos vinculados al navegador, la aplicación o el dispositivo que utilices. Esto nos permite, por ejemplo, mantener tus preferencias de idioma en todas las sesiones de navegación.
                                </p>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script>

    function checkData() {
        
        var userName = document.getElementById("fname").value;
        var userLastName = document.getElementById("lname").value;
        var userMailName = document.getElementById("email").value;
        
        
        if (userName == '') {
            let container = document.querySelector(".nameError")
            console.log(container)
            document.querySelector("#nameError").innerHTML = "Por favor ingrese el nombre"
        }
        if (userLastName == '') {
            let container = document.querySelector(".lastNameError")
            console.log(container)
            document.querySelector("#lastNameError").innerHTML = "Por favor ingrese el apellido"
        }
        if (userMailName == '') {
            let container = document.querySelector(".mailError")
            console.log(container)
            document.querySelector("#emailError").innerHTML = "Por favor ingrese el correo electónico"
        }
    }

   
    function monthLimiter(input) {
        if (input.value < 1) input.value = '';
        if (input.value > 12) input.value = '';
    }
</script>

