<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas</title>
</head>
<body>
    <div class="container">
        <h1 style="margin:10px 0 20px 0;">Estadísticas de Involucramiento</h1>

        <h5>Seleccione los días</h5>
        <div class="list-inline list-group-horizontal btn-group">
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this)">Lunes</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this)">Martes</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this)">Miércoles</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this)">Jueves</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this)">Viernes</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this)">Sábado</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this)">Domingo</button>

            <button style="margin-left: 20px" class="btn btn-success" value="0" onclick="activeAllButtonsFromRow('checkboxesDays')">Todos</button>
            <button class="btn btn-secondary" value="0" onclick="clearAllButtonsFromRow('checkboxesDays')">Limpiar</button>
        </div>

        <br />
        <br />
        <h5>Seleccione los niveles de complejidad</h5>
        <div class="list-inline list-group-horizontal btn-group">
            <button class="btn btn-outline-success checkItemComplexityLevel" value="0" onclick="activeCheck(this)">Básico</button>
            <button class="btn btn-outline-success checkItemComplexityLevel" value="0" onclick="activeCheck(this)">Intermedio</button>
            <button class="btn btn-outline-success checkItemComplexityLevel" value="0" onclick="activeCheck(this)">Avanzado</button>

            <button style="margin-left: 20px" class="btn btn-success" value="0" onclick="activeAllButtonsFromRow('checkboxesComplexityLevel')">Todos</button>
            <button class="btn btn-secondary" value="0" onclick="clearAllButtonsFromRow('checkboxesComplexityLevel')">Limpiar</button>
        </div>

        <br />
        <br />
        <h5>Seleccione los públicos meta</h5>
        <div class="list-inline list-group-horizontal btn-group">
            <button class="btn btn-outline-success checkItemTargetAudience" value="0" onclick="activeCheck(this)">Infantil</button>
            <button class="btn btn-outline-success checkItemTargetAudience" value="0" onclick="activeCheck(this)">Juvenil</button>
            <button class="btn btn-outline-success checkItemTargetAudience" value="0" onclick="activeCheck(this)">Adulto</button>
            <button class="btn btn-outline-success checkItemTargetAudience" value="0" onclick="activeCheck(this)">Adulto mayor</button>

            <button style="margin-left: 20px" class="btn btn-success" value="0" onclick="activeAllButtonsFromRow('checkboxesTargetAudiences')">Todos</button>
            <button class="btn btn-secondary" value="0" onclick="clearAllButtonsFromRow('checkboxesTargetAudiences')">Limpiar</button>
        </div>
        <hr />
        <div style="text-align:right; margin-right: 40px">
            <button class="btn btn-secondary" value="0" onclick="clearAllButtonsFromRow('checkboxesTargetAudiences')">Limpiar todo</button>
        </div>
        <hr />
        <div class="card text-white bg-success mb-3 text-center" style="margin:40px; max-width: 80rem; ">
            <div class="card-body">
                <h4 class="card-title"><strong>Asistencia al planetario</strong></h4>
                <p class="card-text">100 personas</p>
            </div>
        </div>

    </div>

    <script>
        let checkboxes = document.getElementsByClassName("checkItemDay");
        let checkboxesTypes = {};
        checkboxesTypes["checkboxesDays"] = document.getElementsByClassName("checkItemDay");
        checkboxesTypes["checkboxesComplexityLevel"] = document.getElementsByClassName("checkItemComplexityLevel");;
        checkboxesTypes["checkboxesTargetAudiences"] = document.getElementsByClassName("checkItemTargetAudience");

        function activeCheck(target) {
            if (target.value == "0") {
                target.classList.remove("btn-outline-success");
                target.classList.add("btn-success");
                target.value = "1";
            } else {
                target.classList.remove("btn-success");
                target.classList.add("btn-outline-success");
                target.value = "0";
            }
        }

        function activeAllButtonsFromRow(checkboxType) {
            let checkboxes = checkboxesTypes[checkboxType];
            for (let checkbox = 0; checkbox < checkboxes.length; ++checkbox) {
                checkboxes[checkbox].value = "0";
                activeCheck(checkboxes[checkbox]);
            }
        }

        function clearAllButtonsFromRow(checkboxType) {
            let checkboxes = checkboxesTypes[checkboxType];
            for (let checkbox = 0; checkbox < checkboxes.length; ++checkbox) {
                checkboxes[checkbox].value = "1";
                activeCheck(checkboxes[checkbox]);
            }
        }
    </script>
</body>

</html>

<style>
    .list-group-horizontal .list-group-item {
        display: inline-block;
    }

    .list-group-horizontal .list-group-item {
        margin-bottom: 0;
        margin-left: -4px;
        margin-right: 0;
    }

    .form-check label {
        padding: .75rem 1.25rem;
        border-radius: 15px !important;
        margin: 3px;
        /* border: 1px solid black;*/
    }

        .form-check label input[type="checkbox"] {
            opacity: 0; /* Para quitar el checkbox */
        }
</style>
