<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas</title>
    <link rel="stylesheet" href="~/Content/showStatistics.css"/>
</head>
<body>
    <div class="container" style="height: 100%; margin-bottom: 15%">
        <h1 style="margin:10px 0 20px 0;">Estadísticas de Involucramiento</h1>

        <h5>Seleccione los días</h5>
        <div class="btn-group">
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this, 1)">Lunes</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this, 1)">Martes</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this, 1)">Miércoles</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this, 1)">Jueves</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this, 1)">Viernes</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this, 1)">Sábado</button>
            <button class="btn btn-outline-success checkItemDay" value="0" onclick="activeCheck(this, 1)">Domingo</button>

            <button style="margin-left: 20px" class="btn btn-success" value="0" onclick="activeAllButtonsFromRow('checkboxesDays')">Todos</button>
            <button class="btn btn-secondary" value="0" onclick="clearAllButtonsFromRow('checkboxesDays')">Limpiar</button>
        </div>
        <br />
        <br />
        <div id="complexityLevels" class="btn-group" style="display: none">
            <h5>Seleccione los niveles de complejidad</h5>
            <button class="btn btn-outline-success checkItemComplexityLevel" value="0" onclick="activeCheck(this, 1)">Básico</button><button class="btn btn-outline-success checkItemComplexityLevel" value="0" onclick="activeCheck(this, 1)">Intermedio</button><button class="btn btn-outline-success checkItemComplexityLevel" value="0" onclick="activeCheck(this, 1)">Avanzado</button>
            <button style="margin-left: 20px" class="btn btn-success" value="0" onclick="activeAllButtonsFromRow('checkboxesComplexityLevel')">Todos</button><button class="btn btn-secondary" value="0" onclick="clearAllButtonsFromRow('checkboxesComplexityLevel')">Limpiar</button>
        </div>
        <br />
        <div id="targetAudiences" class="btn-group" style="display: none">
            <h5>Seleccione los públicos meta</h5>
            <button class="btn btn-outline-success checkItemTargetAudience" value="0" onclick="activeCheck(this, 1)">Infantil</button><button class="btn btn-outline-success checkItemTargetAudience" value="0" onclick="activeCheck(this, 1)">Juvenil</button><button class="btn btn-outline-success checkItemTargetAudience" value="0" onclick="activeCheck(this, 1)">Adulto</button><button class="btn btn-outline-success checkItemTargetAudience" value="0" onclick="activeCheck(this, 1)">Adulto Mayor</button>
            <button style="margin-left: 20px" class="btn btn-success" value="0" onclick="activeAllButtonsFromRow('checkboxesTargetAudiences')">Todos</button><button class="btn btn-secondary" value="0" onclick="clearAllButtonsFromRow('checkboxesTargetAudiences')">Limpiar</button>
        </div>
        <br />
        <div style="text-align:left; margin-right: 40px">
            <button class="btn btn-success" value="0" onclick="executeAllCheckboxesTypes(activeAllButtonsFromRow)">Seleccionar todo</button>
            <button class="btn btn-secondary" value="0" onclick="executeAllCheckboxesTypes(clearAllButtonsFromRow)">Limpiar todo</button>
        </div>
        <hr />
        <h2 id="assistance" style="margin:10px 0 20px 0; display: none">Asistencia al planetario</h2>

        <div class="row text-center" id="cards-container">
            <div id="Lunes" class="col-3 justify-content-evenly">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Lunes</div>
                    <div class="card-body">
                        <ul id="Lunes_count">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Martes" class="col-3 justify-content-evenly">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Martes</div>
                    <div class="card-body">
                        <ul id="Martes_count">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Miércoles" class="col-3 justify-content-evenly">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Miércoles</div>
                    <div class="card-body">
                        <ul id="Miércoles_count">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Jueves" class="col-3 justify-content-evenly">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Jueves</div>
                    <div class="card-body">
                        <ul id="Jueves_count">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Viernes" class="col-3 justify-content-evenly">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Viernes</div>
                    <div class="card-body">
                        <ul id="Viernes_count">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Sábado" class="col-3 justify-content-evenly">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Sábado</div>
                    <div class="card-body">
                        <ul id="Sábado_count">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Domingo" class="col-3 justify-content-evenly">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Domingo</div>
                    <div class="card-body">
                        <ul id="Domingo_count">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>let activities = @Html.Raw(Json.Encode(ViewBag.activities));</script>
    <script src="~/Scripts/Statistics.js" type="text/javascript"></script>
</body>
</html>