
@using Planetarium.Controllers
@{
    string dataOriginGeneral = Url.Content("~/Calendar/GetEventsForGeneralCalendar");
    string dataOriginPhenomenom = Url.Content("~/Calendar/GetEventsForPhenomenonCalendar");

    AuthorizationController authController = new AuthorizationController();
    int rolCookie = 0;
    try {
        if (Request.Cookies.Get("authCookie") != null) {
            rolCookie = Convert.ToInt32(Request.Cookies["authCookie"].Value);
        }
    } catch {

    }
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link href='~/Libs/fullCalendar-5.0.1/main.css' rel='stylesheet' />

</head>
<body>
    <div class="container" style="margin-bottom:10%">
        <div class="container" style="margin: 15px 0 0 0;">
            <button id="generalCalToggle" class="btn btn-primary" style="background-color:#3a87ad" onclick="changeCalendar(this)">General</button>
            <button id="phenomenomCalToggle" class="btn btn-secondary" style="background-color:#13967d" onclick="changeCalendar(this)">
                Calendario Fenómenos
            </button>
            <hr />
            <div id="generalContainer">
                <div id='generalCalendar'></div>
            </div>

            <div id="phenomenonContainer">
                <div id='phenomenomCalendar'></div>
            </div>

            @if (rolCookie == 2 || rolCookie == 4 || rolCookie == 6) {
                <div style="float: right;">
                    <a class="align-self-end align-self-right btn btn-info" href="/Calendar/CreateEvent" style="margin-top: 10px; ">Añadir evento</a> <br />
                </div>
            }

            <button style="display: none;" id="modalToggle" class="btn btn-success" onclick="" value="0" data-toggle="modal" data-target="#calendarEventModal"> Ver funcionarios <span id="count"></span> </button>

            <div class="modal fade" id="calendarEventModal" tabindex="-1" role="dialog" aria-labelledby="calendarEventModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="calendarEventLongTitle">
                                <strong>

                                </strong>
                            </h3>
                            <button type="button" class="close btn btn-danger" style="margin: 1px;" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="calendarEventDescription">
                        </div>
                        <div class="card-footer text-center">
                            <a id="linkButton" class="btn btn-success" href="#" target="_blank">Ver más</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src='~/Libs/fullCalendar-5.0.1/main.js'></script>
    <script src="~/Libs/fullCalendar-5.0.1/es-us.js"></script>
    <script src="~/Libs/fullCalendar-5.0.1/GeneralCalendar.js"></script>

    <script>
        const calendarInit = new CalendarInitializer("@dataOriginGeneral", "@dataOriginPhenomenom");
    </script>

</body>
</html>