<html>
<head>

    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" />
</head>
<body>
    <div class="container" style="padding-top:10px">

        <div>
            <div id="controllerURLGeneral" data-request-url="@Url.Action("GetEventsForGeneralCalendar", "Calendar")" style="display: none;"></div>
            <div id="controllerURLPhenomenon" data-request-url="@Url.Action("GetEventsForPhenomenonCalendar", "Calendar")" style="display: none;"></div>
            <div class="container" style="padding: 20px 0 20px 0;">

                <button id="generalCalToggle" class="btn btn-primary" style="background-color:#3a87ad" onclick="changeCalendar(this)">General</button>
                <button id="phenomenomCalToggle" class="btn btn-secondary" style="background-color:#13967d" onclick="changeCalendar(this)">
                    Calendario Fenómenos
                </button>
                <hr />
                <div id="generalContainer">
                    <div id='calendarioGeneral'></div>
                </div>

                <div id="phenomenonContainer">
                    <div id='calendarioFenomenos'></div>
                </div>

            </div>
        </div>

        <a class="align-self-end align-self-right btn btn-info" href="/Calendar/CreateEvent" style="margin-top: auto; ">Añadir evento</a> <br />

        <button style="display: none;" id="modalToggle" class="btn btn-success" onclick="" value="0" data-toggle="modal" data-target="#calendarEventModal"> Ver funcionarios <span id="count"></span> </button>

        <div class="modal fade" id="calendarEventModal" tabindex="-1" role="dialog" aria-labelledby="calendarEventModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="calendarEventLongTitle">
                            <strong>
                                    
                            </strong>
                        </h3>
                        <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="calendarEventDescription">
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <script src="~/Scripts/CalendarioGeneral.js"></script>
</body>
</html>