
@{ 
    ViewBag.Title = "Login";
}


<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col d-flex justify-content-center" >
                <div class="card">
                    <div class="card-header text-center">
                        Ingrese sus datos
                    </div>
                    <div class="card-body">
                        <label for="userName" class="form-label">Correo de Usuario</label>
                        <input type="text" name="userName" value="" class="form-control"/> <br />
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="text" name="password" value="" class="form-control"/>
                    </div>
                    <div class="card-footer">
                        <input type="button" class="btn btn-info" name="name" value="Registrarme" />
                        <input type="button" class="btn btn-success" name="name" value="Iniciar Sesión" />
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</body>



