
@mixin transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}



.gameBody {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 50%;
    text-align: center;
    font-size: 18px;
}

.wrappper {
    @include clear;
    width: 100%;
    margin: 0 auto;
}

#alphabet {
    @include clear;
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
}

.clue {
    margin-left: 16%;
    margin-right: 16%;
    text-align: center;

}
.fas fa-lightbulb {
    color:yellow;
}
.fa-medal:hover {
    color:white;
}
#alphabet li {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 55px;
    height: 30px;
    padding-bottom: 10px;
    background: #0094ff;
    color: white;
    cursor: pointer;
    @include corners(5px);
    border: solid 1px #808080;
}

#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
}

#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
}

.active {
    @include opacity;
    cursor: default;
    &:hover
}

#mylives {
    font-size: 1.6em;
    text-align: center;
    display: block;
}

button {
    @include corners (5px);
    background: #0094ff;
    color: $white;
    border: solid 1px $white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    color: white;
}

@media (max-width: 767px) {
    #alphabet {
        padding: 0 0 0 15px;
    }
}

@media (max-width: 480px) {
    #alphabet {
        padding: 0 0 0 25px;
    }
}
