.rating-css {
    height: 100%;
    width: 100%;
    background: white;
    border: 2px solid lightgrey;
}

.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.rating-css input {
    display: none;
}

.rating-css input + label {
    font-size: 30px;
    text-shadow: 1px 1px 0 lightgrey;
    cursor: pointer;
}

.rating-css input:checked + label ~ label {
    color: gainsboro;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
