<!DOCTYPE html>
<html>
<head>
    <title>Actividades</title>
</head>
<body>

    <h1>Actividades</h1>
    <div class="seccion_1" id="s1">
        @foreach (var activitie in ViewBag.activities)
        {
            <hr />
            <h2><strong>Actividad: </strong>@activitie.Id</h2>
            <p>
                Título: @activitie.Title <br />
                Contenido: @activitie.Body <br />
                <-->TODO: Poner imagen</-->
            </p>
            <hr />
        }
    </div>
</body>
</html>