
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <br />
        <div class="card mb-3">
            <h1 class="text-center border border-success ">Reportes</h1>
            <iframe title="PowerBIParaPI - Inscripción " style="width: 100%; height: 80vh; text-align: center" src="https://app.powerbi.com/view?r=eyJrIjoiNTlmODZlNDEtNWY1OC00MjE0LWI1YTktNGU0YTE3Y2YyZmNmIiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9"></iframe>
        </div>
    </div>
    <div class="button text-center">
        <a href="/Home/Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver al inicio</a>
    </div>
</body>
</html>
