@{
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/Content/HangaManGameStyles.css">
    <script type="text/javascript" src="/Scripts/HangManScript.js"></script>
</head>
<body>
    <div class="gameBody">
        <div class="wrapper">
            <h1>Hangman Game</h1>
        </div>
        <div class="wrapper">
            <div id="buttons">
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p id="catagoryName"></p>
            <div id="hold">
            </div>
            <p id="mylives"></p>

            <p id="clue">Clue -</p>
            <canvas id="stickman"></canvas>
            <div class="container">
                <button id="hint">Pista</button>
                <button id="reset">Jugar de nuevo</button>
            </div>
        </div>
    </div>

</body>
</html>