
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/Content/HangaManGameStyles.css">
    <script type="text/javascript" src="/Scripts/HangManScript.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="gameBody">
                    <div class="wrapper">
                        <h1>Juego de Ahorcado</h1>
                        <br />
                    </div>
                    <div class="wrapper">
                        <div id="buttons"></div>
                        <br />
                        <h3 id="catagoryName"style="margin-top:10%"></h3>
                        <div id="hold"></div>
                        <p id="mylives"></p>
                        <h5 class="clue" id="clue"></h5>
                        <canvas id="stickman"></canvas>
                        <div class="container">
                            <button id="hint"><i class="fas fa-lightbulb"></i> Pista</button>
                            <button id="reset"><i class="fas fa-redo-alt"></i> Otra</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>