
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <title>Memory Game</title>

    <link rel="stylesheet" href="~/Content/memoryGameStyle.css" />
</head>
<body>
    <section class="memory-game">
        <div class="memory-card" data-framework="aurelia">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/Albert.png" alt="Aurelia" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="aurelia">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/Albert.png" alt="Aurelia" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="vue">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/Edison.png" alt="Vue" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="vue">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/Edison.png" alt="Vue" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="angular">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/tesla.png" alt="Angular" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="angular">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/tesla.png" alt="Angular" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="ember">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/marie.jpg" alt="Ember" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="ember">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/marie.jpg" alt="Ember" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="backbone">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/rene.png" alt="Backbone" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="backbone">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/rene.png" alt="Backbone" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="react">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/nicolas.jpg" alt="React" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="react">
            <img class="front-face" src="~/images/GamesImages/memoryGameImages/nicolas.jpg" alt="React" />
            <img class="back-face" src="~/images/GamesImages/memoryGameImages/backface.jpg" alt="JS Badge" />
        </div>
    </section>

    <script src="~/Scripts/memoryGameScript.js"></script>
</body>
</html>
