


<head>
    <link rel="stylesheet" href="~/Content/homePageAccess.css">
</head>

<body>
    <div class="container">
        <div class="">
            <h3 class="card-header">
                Diviértete con nuestros juegos
            </h3>
            <br />
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <script src="https://cdn.htmlgames.com/embed.js?game=OuterSpaceArkanoid&amp;bgcolor=white"></script>
                    </div>
                </div>
            </div>
        </div>
        <hr />

    </div>


</body>
