<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>En vivo</title>
    <script src="https://kit.fontawesome.com/33782c52ea.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/streaming.css" />
    <link rel="stylesheet" href="~/Content/liveButton.css" />
</head>
<body>

    <section class="contacto">
        <div class="video__icon" style="float:left">
            <div class="circle--outer"></div>
            <div class="circle--inner"></div>
            <p>LIVE</p>
        </div>
        <div>
            <h1>@ViewBag.ActivityTitle</h1>
            <h2>~@ViewBag.ActivityPublisher</h2>
            <video id="vid" autoplay></video>
            <script>
                navigator.mediaDevices
                    .getUserMedia({
                        video: true,
                        audio: false,
                    })
                    .then((stream) => {
                        document.getElementById("vid").srcObject = stream;
                    });
            </script>
        </div>
        <ul>
            <li>
                <a href="https://www.facebook.com/planetariodesanjose"
                   target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/planetario_sj/?hl=es"
                   target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="mailto:info@planetario.ucr.ac.cr" target="_blank">
                    <i class="far fa-envelope"></i>
                </a>
            </li>
        </ul>
    </section>
</body>
</html>