<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/indexRate.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
</head>

<body>
    <div class="rating-css">
        <div class="star-icon">
            <input type="radio" name="rating1" id="rating1" value="1" />
            <label for="rating1" class="fa fa-star" onclick="updateRating('1')"></label>
            <input type="radio" name="rating1" id="rating2" value="2" />
            <label for="rating2" class="fa fa-star" onclick="updateRating('2')"></label>
            <input type="radio" name="rating1" id="rating3" value="3" />
            <label id="rating3Test" for="rating3" class="fa fa-star" onclick="updateRating('3')"></label>
            <input type="radio" name="rating1" id="rating4" value="4"/>
            <label for="rating4" class="fa fa-star" onclick="updateRating('4')"></label>
            <input type="radio" name="rating1" id="rating5" value="5"/>
            <label for="rating5" class="fa fa-star" onclick="updateRating('5')"></label>
        </div>
    </div>
    <script>
        function updateRating(choice) {
            document.cookie = "rateStar=" + choice;
        }
    </script>
</body>
</html>
