<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Required meta tags -->
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Resultados de la evaluación</title>
        <script src="https://kit.fontawesome.com/33782c52ea.js"
                crossorigin="anonymous"></script>
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
              rel="stylesheet" />
        <link rel="stylesheet" href="~/Content/rateResultView.css">

    </head>
    <style>
        /* Individual bars */
        .bar-5 {
            width: 60%;
            height: 18px;
            background-color: #04AA6D;
        }

        .bar-4 {
            width: 30%;
            height: 18px;
            background-color: #2196F3;
        }

        .bar-3 {
            width: 10%;
            height: 18px;
            background-color: #00bcd4;
        }

        .bar-2 {
            width: 4%;
            height: 18px;
            background-color: #ff9800;
        }

        .bar-1 {
            width: 15%;
            height: 18px;
            background-color: #f44336;
        }

        .bar2-5 {
            width: 60%;
            height: 18px;
            background-color: #04AA6D;
        }

        .bar2-4 {
            width: 30%;
            height: 18px;
            background-color: #2196F3;
        }

        .bar2-3 {
            width: 10%;
            height: 18px;
            background-color: #00bcd4;
        }

        .bar2-2 {
            width: 4%;
            height: 18px;
            background-color: #ff9800;
        }

        .bar2-1 {
            width: 15%;
            height: 18px;
            background-color: #f44336;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-bottom:10%">
        <div class="card-body">
            <div style="margin-top:5%">
                <span class="heading">Calificación de experiencia de usuario del sitio web</span>
                <p>Basado en un total de (AQUI VA EL COUNT()) evaluaciones.</p>
                <hr style="border:3px solid #f1f1f1">
                <div class="row">
                    <div class="side">
                        <div>5 estrellas</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-5"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>Aqui va el contador</div>
                    </div>
                    <div class="side">
                        <div>4 estrellas</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-4"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>63</div>
                    </div>
                    <div class="side">
                        <div>3 estrellas</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-3"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>15</div>
                    </div>
                    <div class="side">
                        <div>2 estrellas</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-2"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>6</div>
                    </div>
                    <div class="side">
                        <div>1 estrellas</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-1"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>20</div>
                    </div>
                </div>
            </div>

            <div style="margin-top:5%">
                <span class="heading">Calificación de los procesos del sitio web</span>
                <p>Basado en un total de (AQUI VA EL COUNT()) evaluaciones.</p>
                <hr style="border:3px solid #f1f1f1">
                <div class="row">
                    <div class="side">
                        <div>Excelente</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar2-5"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>150</div>
                    </div>
                    <div class="side">
                        <div>Bueno</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar2-4"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>63</div>
                    </div>
                    <div class="side">
                        <div>Regular</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar2-3"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>15</div>
                    </div>
                    <div class="side">
                        <div>Malo</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar2-2"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>6</div>
                    </div>
                    <div class="side">
                        <div>Pésimo</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar2-1"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>20</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>