
@{ 
    string fetchUrl = Url.Content("~/CelestialBodies/GetCelestialBodiesByIds");
}

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            Comparador de Cuerpos Celestes
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    @Html.DropDownList("Bodies", ViewData["bodies"] as List<SelectListItem>, "Seleccione el cuerpo", new { @class = "form-select" })
                    <input type="text" style="display: none;" id="bodiesContainer" value="" />   
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function addCelestialBody() {
        //Llamarse onChange del select

        //Busca el input escondido y le agrega el valor del item seleccionado
        //Ej: valorActual = Tierra, -> agredado = Tierra,Marte,  ##### La forma de ingresarlo seria "Elemento,"
        //Llamar getCelestialBodies();
    }

    async function getCelestialBodies() {
        //algunValor = inputEscondido.value
        let url = "@fetchUrl" + "?ids=" + "algunValor";
        let response = await fetch(url);
        let data = await response.json();

        //Data ya contiene el arreglo de Objetos de tipo CuerpoCeleste


        //Agregar un atributo, ImgUrl
    }
</script>
