<head>
    <link rel="stylesheet" href="~/Content/SolarSystem3DModel.css" />
</head>
<body class="universe" >
    <iframe src="https://localhost:44363/CelestialBodies/SolarSystem3DModel" style="height: 105vh; width: 100%;">
    </iframe>
</body>