@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/Content/activitiesHomePageAccess.css">
</head>
<hr />

<div class="container">
    <h3 class="text-start">
        @Html.ActionLink("Quiénes somos", "/WhoWeAre")
    </h3>

    <div id="container">
        @{ Html.RenderPartial("~/Views/Home/WhoWeAre.cshtml"); }
    </div>
</div>
<hr />

<div class="d-flex justify-content-center">
    <div class="imageActivities">
        <img src="~/images/PlanetariumUCR/activitiesImageHomePage.jpg" class="img-fluid" alt="Responsive image">

        <div class="image__overlay image__overlay--primary">
            <div class="image__title">@Html.ActionLink("Actividades", "../EducationalActivity/ListActivities")</div>
            <p class="image__description">
                Aquí podés encontrar las próximas actividades
            </p>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <h3 class="text-start">
        <a href="/News/ListNews">Noticias</a>
    </h3>
    <h6 class="text-start">
        Todo lo que tenés que saber respecto a temas sobre planetas, galaxias, nuevas tecnologías y muchos temas más.
    </h6>
    <div class="row" style="margin-top: 40px;">
        @for (int index = 0; index < ViewBag.News.Count && index < ViewBag.length; ++index){
            <div class="col-sm">
                <div class="card bg-primary">
                    <div class="card-text" style="padding: 0;">
                        <img src="~/images/news/@(ViewBag.News[index].ImagesRef[0])" alt="Alternate Text" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @ViewBag.News[index].Title
                        </p>
                        
                        @Html.ActionLink("Ver Noticia", "../News/News", new { title = ViewBag.News[index].Title }, new { @class = "btn btn-info" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />