@{
    ViewBag.Title = "Home Page";
}

<hr />
<div class="container">
    <h3 class="text-start">
        Noticias
    </h3>
    <h6 class="text-start">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham
    </h6>

    <div class="row" style="margin-top: 40px;">
        <div class="col-sm">
            <div class="card bg-primary">
                <div class="card-header" style="padding: 0;">
                    <img src="~/images/satellite.jpg" alt="Alternate Text" class="img-fluid" />
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Curabitur quis gravida diam. Duis scelerisque hendrerit ipsum
                    </p>
                    <a href="#" class="btn btn-info">Ver Noticia</a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card bg-primary">
                <div class="card-header" style="padding: 0;">
                    <img src="~/images/iss.jpg" alt="Alternate Text" class="img-fluid" />
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Curabitur quis gravida diam. Duis scelerisque hendrerit ipsum
                    </p>
                    <a href="#" class="btn btn-info">Ver Noticia</a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card bg-primary">
                <div class="card-header" style="padding: 0;">
                    <img src="~/images/space.jpg" alt="Alternate Text" class="img-fluid" />
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Curabitur quis gravida diam. Duis scelerisque hendrerit ipsum
                    </p>

                    <a href="#" class="btn btn-info">Ver Noticia</a>
                </div>
            </div>
        </div>
    </div>
</div>