
<div class="container">
    <h1 style="margin:10px 0 20px 0;">Noticias Planetario</h1>
    @for(int i = 1; i <= 10; i++) {

        <div class="card rounded bg-dark">
            <div class="card-body">
                <h2 class="text-start">Noticia @i</h2>
                <h5 class="">Dr. Espinoza</h5>
                <span>
                    <h5>Topicos</h5>
                    <a class=" btn btn-group-sm btn-success">Tierra</a>
                    <a class=" btn btn-group-sm btn-success">Espacio</a>
                    <a class=" btn btn-group-sm btn-success">Tierra</a>
                </span>
                <p class="card-text" style="margin-top: 15px;">
                    Phasellus finibus tortor diam, id placerat elit pulvinar et. Nullam fermentum est ac risus malesuada, ac porttitor lorem imperdiet. Ut euismod finibus purus id maximus. Maecenas facilisis iaculis turpis, sed pellentesque est tempor et. Sed sit amet mollis enim. Donec eget enim ultrices, dictum enim vel, facilisis lectus. Donec quam dui, venenatis at justo ac, fringilla lacinia quam. Quisque sollicitudin, lectus eget rhoncus placerat, nulla neque tempus risus, cursus placerat augue nisl ut orci. Curabitur aliquam enim eleifend leo congue, eu pharetra eros cursus. Aliquam laoreet turpis vel nisi accumsan imperdiet. Donec tristique interdum metus, quis feugiat elit aliquam sed. Maecenas at lectus porta justo cursus pulvinar sit amet non justo.
                </p>
                <a href="#" class="btn btn-primary">Seguir leyendo</a>
            </div>
        </div>
     }
    
</div>