
<!DOCTYPE html>
<html>
<head>
    <title>¿Quiénes somos?</title>
</head>
<body>
    <h1>Planetario de San José UCR</h1>
    <img alt="Planetario de la UCR" src="~/images/whoWeAre.jpg" class="center-block" height="300"/>
    <h2>Misión</h2>
    <h4>@ViewBag.MissionMessage</h4>
    <h2>Visión</h2>
    <h4>@ViewBag.VisionMessage</h4>
</body>
</html>