
@{
    ViewBag.Title = "Quiz";
}

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="container">
        <h1 style="margin: 15px 0 15px 0;">Llene el siguiente cuestionario</h1>
        <div class="card text-center">
            <iframe src="@ViewBag.Link"  height="1000" frameborder="0" marginheight="0" marginwidth="0">
                Loading…
            </iframe>
        </div>
        @Html.ActionLink("Regresar a los Cuestionarios", "Quizzes", "Quiz", null, new { @class = "btn btn-light", @style = "margin: 20px 0 20px 0;"})
    </div>
</body>
